{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-astronomy
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Friday, May 12, 2023</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>9:00 am - 9:10 am</td>  <td>Introductions and Logistics</td> </tr>
      <tr> <td>9:10 am - 10:10 am</td>  <td>Short Introduction R; Starting with Data</td> </tr>
      <tr> <td>10:20 am - 10:30 am</td>  <td>Break</td> </tr>
      <tr> <td>10:30 am - 12:00 pm</td>  <td>Manipulating, Analyzing, and Exporting Data</td> </tr>
      <tr> <td>12:00 pm - 1:00 pm</td>  <td>Lunch</td> </tr>
      <tr> <td>1:00 pm - 1:10 pm</td>  <td>Finish up Manipulating, Analyzing, and Exporting Data</td> </tr>
      <tr> <td>1:10 pm - 2:15 pm</td>  <td>Data Visualization</td> </tr>
      <tr> <td>2:15 pm - 2:25 pm</td>  <td>Break</td> </tr>
      <tr> <td>2:25 pm - 3:50 pm</td>  <td>SQL Databases and R</td> </tr>
      <tr> <td>3:50 pm</td>  <td>Wrap-up</td> </tr>
      <tr> <td>3:55 pm</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>  
</div>

{% else %}
{% include warning-curriculum.html %}
{% endif %}
